.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.login input {
  margin: 10px;
  padding: 10px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login button {
  background-color: #0078d7;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.login button:hover {
  background-color: #005fa3;
}
