.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0078d7;
  padding: 15px 40px;
  color: white;
}

.navbar h2 {
  margin: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
}

.nav-links a:hover {
  text-decoration: underline;
}
